* {
    margin: 0;
}

body {
    background-color: rgb(19, 19, 19);
}

/*header*/
#inicio01 {
    background-color: rgb(39, 39, 39);
    box-shadow: none;
    color: aliceblue;
    display: flex;
    height: 30px;
    margin-top: -8px;
    margin-left: -8px;
}

#nomedaobra {
    padding-left: 12px;
}

#nome_site {
    margin-top: 4px;
    margin-left: 13px;
}

#voltar {
    position: relative;
    margin-top: 6px;
    border-radius: 30%;
    background-color: black;
    color: blueviolet;
    transition: 1s;
}
#voltar:hover{
    background-color: black;
    color: rgb(255, 0, 0);
}
#div_buttonvoltar{
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
}
/*header*/

/*main*/
/*infor*/
/*img*/
#div_img{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 12px;
}
#img_dead{
    height: 400px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 2px blueviolet;
}
/*img*/
/*infor*/
#div_nome{
    text-align: center;
    background-color: black;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
}
#h2_div{
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 4px blueviolet;
}
/*infor descricao*/
#div_descricao{
    color: #ffffff;
    max-width: 700px;
    text-align: center;
    position: relative;
    margin-top: 14px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(15, 15, 15);
    box-shadow: 0px 0px 12px 2px blueviolet
}
/*infor descricao*/
#hr{
    width: 60%;
    position: relative;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: blueviolet;
    border-color: blueviolet;
}

/*infor*/

/*donwload*/
#caps {
    background-color: rgb(39, 39, 39);
    height: 70px;
    max-width: 150px;
    position: relative;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 12px;
    display: flex;
}

#nome_download {
    margin-top: 27px;
}

#arquivo {
    margin-left: 12px;
    margin-top: 17px;
}

#anexo {
    background-color: rgb(158, 158, 158);
    color: rgb(42, 26, 48);
    transition: 1s;
    margin-top: 10px;
}

#anexo:hover {
    background-color: black;
    color: rgb(183, 0, 255);
}

#caps02 {
    color: rgb(183, 0, 255);
    background-color: rgb(34, 34, 34);
    height: 100px;
    width: 189px;
    left: 3%;
    position: relative;
    margin-left: 46.5%;
    transform: translateX(-49%);
    top: 50px;
}

/*donwload*/
/*main*/

/*footer*/
#fim {
    position: relative;
    margin-top: 100px;
    padding-top: 30px;
    height: 40px;
    text-align: center;
    background-color: black;
    color: white;
}
/*footer*/